
.icon-glyph-1:before { content: '\e801'; } /* '' */
.icon-glyph:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-linkedin-squared:before { content: '\e803'; } /* '' */